# Tarea 1-Pandas

## Lizeth Daniela Jaimes González

Calcular:

* la media y la desviación estandar de la glucosa de los pacientes que fueron diagnosticasdos con diabétes y de los que fueron diagnosticados como no-diabéticos

*  Posteriormente, quiere dividir a la población en grupos por rangos de edades de 10 años, es decir, de 0-10, de 10-20, etc. Y para cada uno de estos grupos, calcular la media y la desviación estandar de la glucosa

In [24]:
import pandas as pd

In [25]:
datos = pd.read_csv('Data/diabetes.csv')
datos

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [26]:
datos_1 = datos.groupby('Outcome').Glucose.agg(['mean','std'])
datos_1.head()

               mean        std
Outcome
0        109.980000  26.141200
1        141.257463  31.939622

In [27]:
def rangos(x):
    if x<=10:
        edad=10
    elif 10<x<=20:
        edad = 20
    elif 20<x<=30:
        edad= 30
    elif 30<x<=40:
        edad = 40
    elif 40<x<=50:
        edad = 50
    elif 50<x<=60:
        edad= 60
    elif 60<x<=70:
        edad = 70
    elif 70<x<=80:
        edad = 80
    else:
        edad = 90
        
    return edad

In [28]:
datos['Rangos'] = datos.Age.apply(rangos)
datos

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Rangos
0,6,148,72,35,0,33.6,0.627,50,1,50
1,1,85,66,29,0,26.6,0.351,31,0,40
2,8,183,64,0,0,23.3,0.672,32,1,40
3,1,89,66,23,94,28.1,0.167,21,0,30
4,0,137,40,35,168,43.1,2.288,33,1,40
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,70
764,2,122,70,27,0,36.8,0.340,27,0,30
765,5,121,72,23,112,26.2,0.245,30,0,30
766,1,126,60,0,0,30.1,0.349,47,1,50
767,1,93,70,31,0,30.4,0.315,23,0,30

In [29]:
datos.groupby('Rangos').Glucose.agg(['mean','std'])

              mean        std
Rangos
30      114.175060  28.730772
40      126.178344  33.375775
50      124.884956  34.733874
60      141.148148  31.338329
70      137.560000  32.561583
80      119.000000        NaN
90      134.000000        NaN